@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,300|EB+Garamond);

body {
	background: #323232;
	line-height: 22px;
	text-align: center;
	padding: 3em 0 2em;


}

h1 {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	color: #f2e8e8;
	font-size: 4em;
	color: #aaa;
	letter-spacing: .5px;
	line-height: 1.62;
}
h2 {
	font-family: 'EB Garamond', serif;
	font-weight: 400;
	font-size: 1.5em;
	font-style: normal;
	color: #aaa;
	letter-spacing: .1px;
	line-height: 1.62;
}	

/* 
  div class container for centering text on landing page
.landing {
	margin: 300 0 90 0;
	text-align: center;
}

*/
/* background: #ccc;*/
/*.centerDiv {
    width: 800px;
    border-radius: 5px;
    
    padding: 10px;
    height: 50px;
    position: absolute;
    margin-top: -20px;
    margin-left: -350px;
    top: 50%;
    left: 50%;
} */

html,body {
  height:100%;
  width:100%;
  margin:0;
}
body {
  display:flex;
}
div {
  margin:auto;/* nice thing of auto margin if display:flex; it center both horizontal and vertical :) */
}